{
  "extends": "airbnb",
  "rules": {
    "prefer-const": ["error", {"destructuring": "all"}],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "peerDependencies": true}],
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"]}],
    "react/require-default-props": "off"
  }
}
