{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb"
  ],
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "class-methods-use-this": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "mjs": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true, "peerDependencies": true }],
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".tsx"] }],
    "react/require-default-props": "off",
    "react/static-property-placement": ["error", "static public field"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  },
  "overrides": [
    {
      "files": ["*.test.ts", "*.test.tsx"],
      "env": { "jest": true, "node": true }
    }
  ]
}
